* {
    overflow: hidden;
    user-select: none;
    margin: 0;
}

@font-face {
    font-family: VCR_OSD;
    font-weight: bold;
    src: url(Assets/VCR_OSD.ttf);
}

@font-face {
    font-family: MisterPixel;
    font-weight: bold;
    src: url(Assets/MisterPixel.ttf);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#restarts {
    position: relative;
    top: 1%;
    left: 1%;
    width: 50%;
    height: 50%;
    font-family: VCR_OSD;
    font-size: 200%;
    color: black;
    text-shadow: red 0 0 4px;
}
#midMsg {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    font-family: VCR_OSD;
    font-size: 200%;
    color: black;
    text-shadow: gold 0 0 4px;
}
#lowMsg {
    position: absolute;
    bottom: 0%;
    left: 50%;
    text-align: center;
    width: 50%;
    height: 10%;
    transform: translate(-50%, 0%);
    font-family: VCR_OSD;
    font-size: 200%;
    color: black;
    text-shadow: darkred 0 0 4px;
    display: none;
}
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    font-family: VCR_OSD;
    font-size: 200%;
    color: black;
    text-shadow: gold 0 0 8px;
    background-color: black;
    display: block;
}
#yap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height: 80%;
    font-family: VCR_OSD;
    font-size: 200%;
    color: black;
    text-shadow: red 0 0 8px;
    background-color: black;
}

body {
    background-color: rgb(255, 255, 255);
}