* {
    overflow: hidden;
    user-select: none;
    margin: 0;
}

@font-face {
    font-family: VCR_OSD;
    font-weight: bold;
    src: url(Assets/VCR_OSD.ttf);
}

@font-face {
    font-family: MisterPixel;
    font-weight: bold;
    src: url(Assets/MisterPixel.ttf);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#restarts {
    position: relative;
    top: 1%;
    left: 1%;
    width: 50%;
    height: 50%;
    font-family: VCR_OSD;
    font-size: 200%;
    color: white;
}
#midMsg {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    font-family: VCR_OSD;
    font-size: 200%;
    color: gold;
}

body {
    background-color: rgb(255, 255, 255);
}